$project-light-gray:  hsl(0, 0%, 63%);
$project-black: hsl(0, 0%, 0%);
$project-white: hsl(0, 0%, 100%);
$project-dark-gray: hsl(0, 0%, 27%);

$h1-heading: 3rem;
$p-size: 1rem;
$weight-normal: 500;
$weight-bolder: 600;
$weight-bold: 700;

$project-font: 'League Spartan', sans-serif;